@media screen and ( max-width: 1460px  )
  .logo
    margin-left: 5.7rem
  .nav
    &__item
      margin-right: 1rem
  .fantasy
    &__box-img
      margin-right: 2rem
@media screen and ( max-width: 1360px  )
  .request
    &__dialog
      margin-right: 1rem
      min-height: 0
      min-width: 0
@media screen and ( max-width: 1230px  )
  .clients
    &__card
      height: 374px
@media screen and ( max-width: 1200px  )
  .fantasy
    &__img-box
      &--right
        margin-left: 1rem
  .request
    &-text--1
      max-width: 20rem
    &__line-img
      max-width: 80%
    &__box
      &--1
        top: 6rem
        right: 2.5rem
      &--2
        top: 15rem
        right: 7.5rem
      &--3
        top: 25.7rem
        right: 2rem
      &--4
        top: 36rem
        right: 2rem
  .footer
    &__section
      &-title__wrap
       max-width: 6.5rem
  .design
    &__card
      min-width: 0
  .types
    &__card
      min-width: 0
  html
    font-size: 12px
  .hero
    &__text
      max-width: 36rem
@media screen and ( max-width: 992px  )
  .button
    &--primary
      &:hover
        background-color: $primary
    &--outline
      &:hover
        background-color: transparent
  .request
    display: none
  .swiper
    &-container
      &--right
        margin: 0
    &-slide
      &__img
        min-width: 0
        max-width: 100%
        height: auto
      &__text
        &--right
          margin-left: 0
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .logo
    margin-left: 3.42rem
@media screen and ( max-width: 925px  )
  .s3
    // padding: 3rem
  .fantasy-swiper
    display: block
  .fantasy
    display: none
  .aim
    display: none
  .clients
    display: none
  .team
    padding: 0
    margin: 0
    margin-top: 29rem
    background-color: $dark
    color: $light
    &__card
      margin-bottom: 10rem
      &--bottom
        margin-bottom: 4rem
      &-text
        margin-left: auto
        margin-right: auto
    &__text
      display: none
    &__title-heading
      margin-top: 0
    &__col-icon
      &-img
        left: -4rem
  .footer
    background: $dark
    &__wrap
      margin-top: 2rem
      max-width: 90%
      background-color: $dark
    &__map
      min-height: 40rem
      max-width: 90%
    &__input
      border-color: $light
  .projects
    padding-bottom: 1rem
  .control
    padding: 0
    border: $dark solid
    background-color: $dark
    &__section-title
      margin-top: 2rem
    &__text
      color: $light
    &__label
      color: rgba(255, 255, 255, 0.5)
    &__input
      border-color: $light
      &::placeholder
        color: $light
    &__policy-label
      color: $light
    &__form
      padding: 3rem 0
  .col-50
    width: 90%
    padding: 2rem
    margin-bottom: 0
  .row
    flex-direction: column
    align-items: center
  .types
    margin-top: 2rem
    &__card
      margin-bottom: 7rem
  .design
    &__description
      color: $light
    &__section-title
      color: $light
    background-color: $dark
    &__card
      margin-bottom: 7rem
  .card
    &__name
      color: $dark
    &__text
      margin-left: 0
  .section
    padding: 0
    &-title
      &__heading
        &--control
          margin-top: 0
      &__word
        &::after
          display: none
  .design
    padding: 1rem 0 0 0
@media screen and ( max-width: 700px  )
  .footer
    &__map
      min-height: 0
      max-height: 18.2rem
  .control
    &__form
      max-width: 90%
    &__video
      background-size: cover
      max-width: 90%
  .video__play
    max-width: 20%
    height: auto
  .swiper
    &-slide
      &__heading
        font-size: 14px
      &__text
        font-size: 14px
@media screen and ( max-width: 570px  )
  .google-map
    height: 100%
  .footer
    &__wrap-map
      display: flex
      flex-direction: column
    &__menu
      display: none
    &__input
      &-group
        flex-basis: 90%
    &__policy
      display: flex
      align-items: flex-start
      &-label
        margin-left: -1rem
    &__button
      min-width: 100%
    &__section-title
      order: 5
    &__title-heading
      padding: 0 1rem
  .control
    &__video
      min-height: 25rem
    &__policy
      margin-top: 5rem
      margin-left: 0.8rem
      display: flex
    &__form
      max-width: 80%
      flex-direction: column
    &__label
      margin-bottom: 0.01rem
    &__policy-label
      align-self: flex-start
      margin-left: -1rem
      margin-bottom: 4rem
      margin-top: -4rem
    &__input
      margin-bottom: 4rem
      &-group>div.invalid
        bottom: 28px
    &__button
      margin-bottom: -2rem
      order: 1
    &__text
      max-width: 90%
    &__form
      display: block
    &__button
      width: 100%
      position: absolute
      bottom: 0
  .section
    &-title
      &__heading-types
        margin-top: 6rem
      &__text
        max-width: 27rem
  .col-50
    width: 90%
  .title
    font-size: 1.64em
  .hero
    &::after
      display: none
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      max-width: 23rem
    &__content
      width: 100%
    &__button
      width: 100%
      display: block
      min-width: 0
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
    &__container
      width: 87%
  .contacts
    margin-right: 0
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .modal
    max-width: 80%
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  .design
    &__description
      padding: 0 1rem
    &__card
      min-width: 0
      padding: 0 1rem
  .types
    padding: 0 1rem 
    &__card
      min-width: 0
      padding: 0 1rem
  .logo
    margin-left: 0
  .header
    padding: 1.7rem 1.7rem

@media screen and ( max-width: 400px  )
  .team
    &__description
      padding: 0 1rem
    &__col-icon
      &-img
        left: 0
    &__card
      padding-left: 5rem
      padding-right: 0.5rem 
  .control
    &__text
      font-size: 1rem
    &__video
      min-height: 14.78rem
@media screen and ( max-width: 300px  )
  .hero
    &__button
      min-width: 100%
      max-width: 100%
@media screen and ( max-height: 500px  )
  .hero
    &::after
      display: none
    &__scroll-down
      display: none