.design
  overflow: hidden
  background-image: linear-gradient(transparent 50%, $dark 50%)
  padding: 4.285rem 1rem 9rem 1rem
  &__description
    font-family: 'Futura Book'
    font-size: 1.42rem
    line-height: 1.92rem
    text-align: center
    max-width: 52.9rem
    margin-right: auto
    margin-left: auto
    margin-bottom: 3.3rem